.footer {
  margin-top: 60px;
  padding: 7px 20px;
  border-top: 1px solid #e5e7eb;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 18px;
}

.footer-links a {
  text-decoration: none;
}
